<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <meta charset="UTF-8">
    <title>{{title_page}}</title>
</head>
<body>
<h3 align="center">Hello Admin</h3>
<table class="table table-hover">
    <th>usernames:</th>
    <th>passwords:</th>

    {% for key,value in dic.items() %}
    <tr><td><h4>{{key}}</h4></td><td><h4>{{value}}</h4></td></tr>
    {% endfor %}

</table>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

</body>
</html>